<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shimmer Engineering Sensor</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/web/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/web/html/css/style.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{/web/html/css/colors/blue.css}" id="theme" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!--    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>-->

    <script th:src="@{/web/html/js/retrive-firebase-data.js}"></script>

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-database.js"></script>


</head>

<body class="fix-header fix-sidebar card-no-border" onload="firebaseConnect();databaseConnect();setUserWelcomePrompt();">

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse justify-content">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->

                <ul class="navbar-nav mr-auto mt-md-0 ">
                    <!-- This is  -->
                    <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                                            href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                    <li class="nav-item hidden-sm-down">
                        <form class="app-search">
                            <input type="text" class="form-control" placeholder="Search for..."> <a class="srh-btn"><i
                                class="ti-search"></i></a>
                        </form>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
                           id="welcome-prompt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Name</a>
                    </li>
                </ul>
            </div>

        </nav>

    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li>
                        <a href="/" class="waves-effect"><i class="fa fa-clock-o m-r-10"
                                                                     aria-hidden="true"></i>Data</a>
                    </li>
                    <li>
                        <a href="/profile" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Profile</a>
                    </li>
                </ul>
                <div class="text-center m-t-30">
                    <a href="/logout" class="btn btn-danger"> Logout</a>
                </div>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-6 col-8 align-self-center">
                    <h3 class="text-themecolor m-b-0 m-t-0">Data</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Data</li>
                    </ol>
                </div>
                <div class="col-md-6 col-4 align-self-center">
                    <a href="" class="btn pull-right hidden-sm-down btn-success">Update data</a>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row">
                <!-- Column -->
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Total samples</h4>
                            <div class="text-right">
                                <h2 class="font-light m-b-0" id="total-samples"> 2000</h2>
                                <span class="text-muted">Total samples</span>
<!--                                <span class="text-muted">from last week</span>-->
                            </div>
<!--                            <span class="text-success">1600</span>-->
<!--                            <div class="progress">-->
<!--                                <div class="progress-bar bg-success" role="progressbar" style="width: 80%; height: 6px;"-->
<!--                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Total measurements</h4>
                            <div class="text-right">
                                <h2 class="font-light m-b-0" id="total-measurements"> 100</h2>
                                <span class="text-muted">Total measurements</span>
                            </div>
<!--                            <span class="text-info"></span>-->
<!--                            <div class="progress">-->
<!--                                <div class="progress-bar bg-info" role="progressbar" style="width: 30%; height: 6px;"-->
<!--                                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>
            <!-- Row -->
            <!-- Row -->
            <div class="row">
                <!-- column -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">ECG</h4>
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart"></div>
                            </div>
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-offset"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- column -->
            </div>
            <!-- Row -->
            <!-- Row -->
            <div class="row">
                <!-- column -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-block">
                            <!-- <h6 class="card-subtitle">Add class <code>.table</code></h6> -->
                            <select class="custom-select pull-right" id="month-selector" th:selected="13" onchange="onSelectedChange()">
                                <option value="1" selected>January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                                <option value="13">All</option>
                            </select>
                            <h4 class="card-title">Measurements from given period</h4>
                            <div class="table-responsive">
                                <table class="table" id="measurements-table">
                                    <thead>
                                    <tr>
                                        <th>Measurement Date</th>
                                        <th>Measurement Type</th>
                                        <th>Measurement Points</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
        <!-- Row -->

        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
        2020 - Michał Marciniak, Stanisław Zamora, Arkadiusz Kowal
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>

<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->

<!--<script>-->
<!--    firebaseConnect();-->
<!--</script>-->

<!--cookies-->
<script type="text/javascript">
    let cookieValue = getCookieValue("current_user_tag");
    console.log(cookieValue);
</script>
<!--cookies-->

<!--getData-->
<!--<script type="text/javascript">-->
<!--    getData();-->
<!--</script>-->
<!--getData-->

<script th:href="@{/web/assets/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script th:href="@{/web/assets/plugins/bootstrap/js/tether.min.js}"></script>
<script th:href="@{/web/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script th:href="@{/web/html/js/jquery.slimscroll.js}"></script>
<!--Wave Effects -->
<script th:href="@{/web/html/js/waves.js}"></script>
<!--Menu sidebar -->
<script th:href="@{/web/html/js/sidebarmenu.js}"></script>
<!--stickey kit -->
<script th:href="@{/web/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
<!--Custom JavaScript -->
<script th:href="@{/web/html/js/custom.min.js}"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!-- Flot Charts JavaScript -->
<script th:href="@{/web/assets/plugins/flot/jquery.flot.js}"></script>
<script th:href="@{/web/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js}"></script>
<script th:href="@{/web/html/js/flot-data.js}"></script>
<script th:href="@{/web/html/js/retrieve-firebase-data.js}"></script>
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script th:href="@{/web/assets/plugins/styleswitcher/jQuery.style.switcher.js}"></script>
<script src="http://cdn.jsdelivr.net/jquery.flot/0.8.3/jquery.flot.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/excanvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.selection.js"></script>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
</body>

</html>
