<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shimmer Engineering Login</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/web/html/css/bootstrap.css}" type="text/css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script th:src="@{/web/html/js/loginPage.js}"></script>
    <!-- Custom styles for this template -->
    <link th:href="@{/web/html/css/signin.css}" type="text/css" rel="stylesheet">

    <script src="/web/html/js/retrive-firebase-data.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-firestore.js"></script>


    <script th:src="@{/web/html/js/retrive-firebase-data.js}"></script>


</head>

<body class="text-center" onload="firebaseConnect();">

<form class="form-signin">
    <div class="loginError text-center" id="loginError"></div>
    <img class="center" th:src="@{/web/assets/images/logo-shimmer.png}" alt="">
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="login" id="inputEmail" class="form-control" placeholder="User email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password">
    <span class="psw"><a href="#">Forgot password?</a></span>
    <div>
        <span>
          <input class="btn btn-lg btn-primary btn-block" onclick="authorize();" type="button" value="Sign In"/>
        </span>
    </div>
</form>

</body>
</html>
